/*body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

canvas {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 900px;
  height: 900px;
  background-color: 'white';
}

#ui {
  position: absolute;
  background-color: red;
  left: 920px;
  top: 20px;
  width: 200px;
  height: 900px;
}
